APP_NAME='GIJCA MESSAGE BUSINESS'
APP_ENV=production
APP_KEY=base64:saFDyUDB63IQGo7QtA9X8cz7ps0vM0IM2kNpsq2avCw=
APP_DEBUG=false
APP_URL=https://message-business.gijac.com

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=gijac_business
DB_USERNAME=root
DB_PASSWORD=

# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=gijac_message_business
# DB_USERNAME=gijac_user
# DB_PASSWORD=GijacWeb@2025

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
FILESYSTEM_DISK=local

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=false

MEMCACHED_HOST=127.0.0.1

QUEUE_CONNECTION=redis
REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=jany.escobar.gijac@gmail.com
MAIL_PASSWORD=dhplckclxiywnwsy
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="jany.escobar.gijac@gmail.com"
MAIL_FROM_NAME="GIJAC MESSAGE BUSINESS"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=12072025
PUSHER_APP_KEY=2C77uk6Ujmqyc11uuAbx
PUSHER_APP_SECRET=gijacmessegebusinessappsecret
PUSHER_HOST=message-business.gijac.com
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1
PUSHER_APP_PATH=null

LARAVEL_WEBSOCKETS_SSL_LOCAL_CERT=
LARAVEL_WEBSOCKETS_SSL_LOCAL_PK=
LARAVEL_WEBSOCKETS_SSL_PASSPHRASE=null
LARAVEL_WEBSOCKETS_HOST=127.0.0.1
LARAVEL_WEBSOCKETS_PORT=6001

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

WOMPI_PUBLIC_KEY=your_public_key
WOMPI_PRIVATE_KEY=your_private_key
WOMPI_URL=https://sandbox.wompi.co/v1
# WOMPI_URL=https://production.wompi.co/v1

EPAYCO_PUBLIC_KEY=
EPAYCO_PRIVATE_KEY=
EPAYCO_P_KEY=
EPAYCO_PSE_URL=https://api.secure.epayco.co
EPAYCO_TEST=true
EPAYCO_TEST_MODE=true

CHATBASE_API_KEY=haluwbsh2rcw90fucv644wzeetwjp5kh

GOOGLE_OAUTH_ID=''
GOOGLE_OAUTH_KEY=''
# GOOGLE_KEY=''

OUTLOOK_OAUTH_ID=''
OUTLOOK_OAUTH_KEY=''

OAUTH_APP_ID=
OAUTH_APP_SECRET=''
OAUTH_REDIRECT_URI=http://localhost:8002/outlook-callback
OAUTH_SCOPES='openid profile offline_access user.read mailboxsettings.read calendars.readwrite'
OAUTH_AUTHORITY=https://login.microsoftonline.com/common
OAUTH_AUTHORIZE_ENDPOINT=/oauth2/v2.0/authorize
OAUTH_TOKEN_ENDPOINT=/oauth2/v2.0/token

N8N_TIMEOUT=120
N8N_THROW=true
N8N_RETRY=3

N8N_API_BASE_URL=https://your-n8n-instance.com/api/v1
N8N_API_KEY=your_api_key

N8N_WEBHOOK_BASE_URL=https://jany1207.app.n8n.cloud/webhook/d2081356-62b0-4cac-970e-58d070efc7fe/chat
# N8N_WEBHOOK_USERNAME=your_webhook_username
# N8N_WEBHOOK_PASSWORD=your_webhook_password

PREDICCION_CONTENIDO_API_URL=http://127.0.0.1:8002
